body {
  height: 100%;
  width: 100%;
  background-color: #DDDDDD;
}

.my-globe {
  width: 100%;
  float: left;
}

.m2s-globe {
  width: 100%;
  .m2s-globe-water {
    fill: #FFF;
  }
  .m2s-globe-land-top {
    fill: #dadac4;
  }
  .m2s-globe-land-bottom {
    fill: #737368;
  }
  .m2s-globe-graticule {
    fill: none;
    stroke: #dadac4;
    stroke-width: 1px;
    stroke-opacity: 0.5;
  }
  .m2s-globe-points {
  }
  .m2s-globe-points.cat1 {
    fill: yellow;
  }
}


